@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Stara";
    src: url("../fontes/STARA-MEDIUM-BF65962709D948A.OTF") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Stara";
    src: url("../fontes/STARA-BOLD-BF65962709C55B4.OTF") format("opentype");
    font-weight: 700;
}

html {
    font-size: 62.5%;
}


:root {
    --primary-color: #000;
    --secondary-color: #ececec;
    --font-family: "Stara", sans-serif;

    --font-xs: 1.2rem;
    --font-sm: 1.4rem;
    --font-base: 1.6rem;
    --font-md: 2.0rem;
    --font-lg: 2.4rem;
    --font-xl: 3.2rem;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    color: var(--secondary-color);
    font-size: var(--font-base);
}

a {
    text-decoration: none;
}

.container {
    padding: 2rem;
}

.header {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.redes {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo_header {
    width: 140px;
}

.redes img {
    width: 80%;

}

.hero {
    margin-top: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.hero img {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
}

.title {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 3rem;
}

.btn {
    padding: 16px 70px;
    position: relative;
    display: inline-block;
    color: var(--secondary-color);
    background: var(--primary-color);
    border-radius: 10px;
    z-index: 1;
    margin-bottom: 5rem;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(90deg, #272727, var(--secondary-color));
    border-radius: 10px;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;

}

.btn-2{
    background-color: #161616;
    margin-bottom: 0;
}

.projects{
    margin-bottom: 6rem;
}

.projects img{
    display: block;
    width: 100%;
}

.services-content{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    height: 180px;
    width: 100%
    
}

.services a{
    color: var(--secondary-color);
}

.services-content img{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
    opacity: .5;
}

.services-title{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: var(--font-xl);
    line-height: 3rem;
}

.services-cta{
    background-color: #161616;
    padding: 5rem 3rem;
    border-radius: 20px;
    margin-bottom: 8rem;
}

.services-cta h2{
    font-size: var(--font-xl);
    line-height: 4rem;
    margin-bottom: 20px;
}

.services-cta p{
    margin-bottom: 20px;
    font-weight: 500;
}

.results-item1{
    background-color: #fff;
    color: var(--primary-color);
    width: 240px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 18px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.results-item1 h3{
    font-size: 5rem;
}

.results-item1 p{
    line-height: 1.8rem;
}

